<ion-view view-title="Favourites">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-left" ng-repeat="quote in quotes track by $index" type="item-text-wrap" href="#/tab/favourites/{{quote.id}}">

        <i class="icon ion-leaf" side="left"></i>
        <p>{{quote.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove($index)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>


    <div class="card">
      <div class="item item-divider">
        For testing Sharing
      </div>
      <div class="item item-text-wrap">
        <button onclick="window.plugins.socialsharing.share('Message only')">message only</button>
        <button onclick="window.plugins.socialsharing.share('Message and subject', 'The subject')">message and subject</button>
        <button onclick="window.plugins.socialsharing.share(null, null, null, 'http://www.x-services.nl')">link only</button>
        <button onclick="window.plugins.socialsharing.share('Message and link', null, null, 'http://www.x-services.nl')">message and link</button>
        <button onclick="window.plugins.socialsharing.share(null, null, 'https://www.google.nl/images/srpr/logo4w.png', null)">image only</button>
      </div>
    </div>

  </ion-content>
</ion-view>
