<ion-view view-title="Daily Quotes" class="jamie" ng-style="{'background-image':'url({{ randomBg}})'}">>
  <ion-nav-buttons side="left">
      <button class="button logo" ng-click="">
          <i class="icon ion-leaf"></i>
      </button>
  </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button save" ng-click="save(quote.id)">
            <i class="icon ion-bookmark"></i>
        </button>
        <button class="button" ng-click="showShare()">
            <i class="icon ion-share"></i>
        </button>
    </ion-nav-buttons>

    <ion-content class="padding" scroll="" start-y="0"  delegate-handle="mainScroll">

        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false" >
            <ion-slide ng-repeat="quote in quotes track by $index">
                <div class="box" ng-class="{'animateMeNow' : animateClass}">
                    <div class="inside">
                        <!-- <h1>{{quote.id}}</h1>
                        <h1>{{quote.name}}</h1> -->

                        <div class="card">
                          <div class="item item-text-wrap">
                            <h1>{{quote.text}}</h1>
                          </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>

        <!-- <div id="arrow-nav">
            <div id="arrow-left" ng-click="action()">LEFT</div>
            <div id="arrow-right">Right</div>
        </div>

    <button class="button button-positive" ng-click="showAlert()">
      Alert
    </button> -->

    <script id="popup-template.html" type="text/ng-template">
      <input ng-model="data.wifi" type="text" placeholder="Password">
    </script>

    </ion-content>



</ion-view>
