<ion-view view-title="Reminders">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableReminders" ng-click="saveSettings()">
        Enable Daily Reminders
    </ion-toggle>
    </ion-list>


    <div class="card">
      <div class="item item-divider">
        For testing push
      </div>
      <div class="item item-text-wrap">
        Daily reminders not yet functional.

        <button class="button button-block button-dark" ng-click="identifyUser()">
          Identify a user
        </button>


        <button class="button button-block button-positive" ng-if="identified" ng-click="pushRegister()">
          Register for Push (for testing)
        </button>
      </div>
    </div>



        <!-- <standard-time-no-meridian etime='epochTimeX'>epoch</standard-time-no-meridian> -->

    <!-- <ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">
      <button class="button button-block button-positive"> {{slots.epochTime}} </button>
    </ionic-timepicker> -->


  </ion-content>
</ion-view>
