/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;



// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


$big-bg:      'http://ioniconf.com/img/bg.jpg';

.scroll-bg {
  background: url($big-bg) no-repeat center center fixed;
  background-size: cover;
}

$positive:                        #057b6c !default;

/* Empty. Add your own CSS if you like */

.jamie {

	background-size: cover;
	/*background-image: url("http://total-yoga.org/wp-content/uploads/2013/03/Buddha-in-Meditation.jpg");*/
}


.box  {

	display: block;
	border-radius: 15px;
	color: #000000;
	border: 1px solid $royal;
  -webkit-transition: width 2s ease, height 2s ease;
	-moz-transition: width 2s ease, height 2s ease;
	-o-transition: width 2s ease, height 2s ease;
	transition: width 2s ease, height 2s ease;
  height: 100px;
  width: 100px;

}


.inside {

	opacity: 1;


}


.animateMeNow {
  border: 10px solid red;
  width: 300px;
  height: 500px;
}
.bar-header-test {
  //background-color: rgba(255,255,255,.8) !important; /* or transparent, or background:none */
}

.bar.bar-calm {

}
.scroll-content {
  overflow: visible !important;
}


.tabs {
	  // background-color: rgba(255,255,255,.8) !important; /* or transparent, or background:none */
	  // broder: 1px solid red !important;
}


tab-item-active {
  border: 2px solid red;
}
#arrow-nav {
	margin-top: 50px;
	border: 1px solid blue;
	height: 25px;
	display: block;

}

#arrow-left {
	border: 1px solid red;
	width: 40px;
	float: left;
}

#arrow-right {
	border: 1px solid red;
	width: 40px;
	float: right;
}

#overlay-tips {

	border: 1px solid red;
	height: 500px;
}


ion-tabs.tabs-color-active-positive .tab-item {
  color: #FFF;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #FFFFFF; }


.logo {
//  	border: none !important;
    //border: 2px solid #ffffff !important;
    border-radius: 50%;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 8px 4px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 8px 4px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 8px 4px 5px 0px rgba(0,0,0,0.15);


}


.save {
  margin-right: 15px !important;
}
