/* Empty. Add your own CSS if you like */

.jamie {

	background-size: cover;
	/*background-image: url("http://total-yoga.org/wp-content/uploads/2013/03/Buddha-in-Meditation.jpg");*/
}


.box  {

	display: block;
	border-radius: 15px;
	color: #000000;

}


.inside {

	opacity: 1;
}
